<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý khách sạn</title>
    <style>
    body {
      margin: 0;
      padding: 0;
    }

    .header {
      display: flex;
      justify-content: center;
      background-color: #f1f1f1;
      padding: 20px;
    }

    .menu {
      display: flex;
      justify-content: center;
    }

    .menu a {
      margin: 0 10px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
    }

    .menu a:hover {
      color: #ddd;
    }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="menu">
        <a href="/login">Trang chủ</a>
        <a href="/danh-sach-dich-vu">Quản lý phòng</a>
        <a href="/danh-sach-dich-vu">Quản lý dịch vụ</a>
        <a href="/danh-sach-khach-hang">Quản lý khách hàng</a>
        <a href="/danh-sach-nhan-vien">Quản lý nhân viên</a>
        <a href="/danh-sach-hoa-don">Quản lý hóa đơn</a>
      </div>
    </div>
  </body>
</html>